<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GHDoctor.Core.Properties.Settings.GHDoctorConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GHDoctor;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>