<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GHDoctor.Core.Properties.Settings.GHDoctorConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GHDoctor;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="GHDoctor.Core.Properties.Settings.GHDoctorConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\GHDoctor.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="GHDoctor.Core.Services.ModelServicesBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="GHDoctor.Core.Services.ModelServicesBehavior"
                name="GHDoctor.Core.Services.ModelServices">
                <endpoint address="" binding="wsHttpBinding" contract="GHDoctor.Core.Services.IModelServices">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost/Design_Time_Addresses/GHDoctor.Core.Services/ModelServices/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>