SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CODE] [int] IDENTITY(1,1) NOT NULL,
	[SHORT_DESCRIPTION] [varchar](50) COLLATE Modern_Spanish_CI_AS NOT NULL,
	[LONG_DESCRIPTION] [varchar](500) COLLATE Modern_Spanish_CI_AS NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF